/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Custom properties */

:root {
  /* Background colors */
  --primary-bg-color: #F4D04E;
  --secondary-bg-color: #FFFFFF;

  /* Font colors */

  --primary-font-color: #111111;
  --secondary-font-color: #6B6B6B;

  /* Font weights */

  --heading-font-weight: 300;
  --subheading-font-weight: 150;
  --paragraph-font-weight: 100;
  --notes-font-weight: 50;

  /* Letter spacing */

  --heading-letter-spacing: 1.5rem;
  --subheading-letter-spacing: 0.75rem;
  --paragraph-letter-spacing: 0.5rem;
  --notes-letter-spacing: 0.25rem;
}

body {
  background-color: var(--primary-bg-color);
  font-family: Figtree, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

main {
  margin: auto;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 21rem;
  border-radius: 1.25rem;
}

.photo {
  margin: auto;
}